<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @book %>

    <%= show_edit_button? @book %>
    <%= link_to "Back to books", books_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium" %>
    <div class="inline-block ml-2" data-turbo="false">
      <%= show_delete_button? @book %>
    </div>
  </div>
</div>
